<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>


    <!--Blueshell logs -->
    <logger name="logitech" level="info" additivity="false">
        <appender-ref ref="logcat" />
    </logger>

    <!-- Kong services logs -->
    <logger name="com.logitech" level="info" additivity="false">
        <appender-ref ref="logcat" />
    </logger>
    <!-- Integration test logs-->
    <logger name="com.logitech.integration.test" level="info" additivity="false">
        <appender-ref ref="logcat" />
    </logger>

    <root level="info">
        <appender-ref ref="logcat" />
    </root>
</configuration>